PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=phonestore

JWT_SECRET=cambia_esta_clave_por_una_muy_segura_y_larga
JWT_EXPIRES_IN=1d

ADMIN_NOMBRE=Admin
ADMIN_APELLIDO=PhoneStore
ADMIN_EMAIL=admin@phonestore.com
ADMIN_PASSWORD=Admin1234
ADMIN_DOCUMENTO=1000000000
ADMIN_TELEFONO=3000000000
ADMIN_DIRECCION=Oficina principal
